body {
  background-image: url(/images/fitness-main.jpg);
  height: 700px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.bubble {
    background-color: rgba(211, 211, 211, 0.7);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}