<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar::head">
    <title>Coaches Showcase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header th:replace="fragments/navbar::nav"></header>
<main>
    <div class="container mt-4">
        <h1 class="text-center mb-4">All Users</h1>
        <div class="row">
            <div th:each="user : ${users}" class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <img th:src="${user.photoUrl}" th:alt="${user.username}" class="card-img-top" alt="Coach Photo">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${user.fullName}">User Name</h5>
                        <p class="card-text" th:text="${user.email}">User email.</p>
                        <p class="card-text" th:text="${user.bio}">Brief biography of the user.</p>
                        <p class="card-text">
                            <span th:each="role : ${user.role}" th:text="${role.name} + ' '">Role</span>
                        </p>
                        <form th:method="post" th:action="@{/admin/role-change/{id}(id=${user.id})}">
                            <button type="submit" class="btn btn-danger">Change Role</button>
                        </form>
                        <form th:method="post" th:action="@{/admin/promote/{id}(id=${user.id})}">
                            <button type="submit" class="btn btn-success" >Promote to Admin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/navbar::footer"></footer>
</body>
</html>
