<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar::head">
    <title>Exercise Preview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header th:replace="fragments/navbar::nav"></header>
<main>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img th:src="${exercise.photoUrl}" th:alt="${exercise.name}" class="card-img img-fluid" alt="Exercise Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h1 class="card-title" th:text="${exercise.name}">Exercise Name</h1>
                                <p class="card-text" th:text="${exercise.description}">Description of the exercise.</p>
                                <p class="card-text"><strong>Intensity:</strong> <span th:text="${exercise.intensity}">Intensity Level</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/navbar::footer"></footer>
</body>
</html>
