<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Site</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<head th:replace="fragments/navbar::head"></head>

<header th:replace="fragments/navbar::nav"></header>

<main>
        <span class="main-nav">

        </span>
    <div class="main-container">
        <body >
        <h1 class="display-1" th:text="#{welcome_message}">Welcome</h1>
        <th:block sec:authorize="isAuthenticated()" >
            <span class="display-4"> [[${#authentication.name}]]</span>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()" class="display-1">
            <span class="display-4"> Anonymous </span>
        </th:block>
        </body>
    </div>
</main>

<div class="welcome">
    <h3 th:text="#{welcome_message}">Welcome</h3>
    <div class="divider"></div>
    <div class="welcome-sections">
        <section class="tools">
            <img src="/images/multiple-users-silhouette.png" alt="asdas">
            <h6 th:text="#{index_coaches}">Qualified Coaches</h6>
            <p th:text="#{index_coaches_paragraph}">Our coach have years of experience in various types of fitness and sports.</p>
        </section>

        <section class="tools">
            <img src="/images/thumbs-up-hand-symbol.png" alt="asdasd">
            <h6 th:text="#{index_individual_approach}">Individual Approach</h6>
            <p th:text="#{index_individual_approach_paragraph}">Every client of GYM has a personalized program of training and nutrition.</p>
        </section>

        <section class="tools">
            <img src="/images/dumbbell.png" alt="">
            <h6 th:text="#{index_equipment}">Fitness Equipment</h6>
            <p th:text="#{index_equipment_paragraph}">We cooperate with leading fitness equipment suppliers to give you the superior results.</p>
        </section>
    </div>

    <div class="coach">
        <h3>Coaches</h3>
        <div class="divider"></div>
        <div class="coach-sections">
            <section class="coach-cards">
                <img src="/images/perkins.jpg" alt="">
                <h5 class="name">Pepa Perkins</h5>
                <h6>Fitness</h6>
                <p>Emily can teach you all peculiarities of fitness and aerobics in a group or individually.</p>
            </section>

            <section class="coach-cards">
                <img src="/images/minela.jpg" alt="">
                <h5 class="name">Samantha Minela</h5>
                <h6>Yoga</h6>
                <p>Our leading yoga coach, Samantha will help you reach full harmony with your body.</p>
            </section>

            <section class="coach-cards">
                <img src="/images/ortiz.jpg" alt="">
                <h5 class="name">Austin Ortiz</h5>
                <h6>Bodybuilding</h6>
                <p>Austin is not only our most called-for coach, but also a winner of many championships.</p>
            </section>
        </div>

    </div>
</div>




<footer>
    <p>All rights reserved. In Partnership with SoftUni.</p>
</footer>
</body>
</html>