<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Site</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<head th:replace="fragments/navbar::head"></head>

<header th:replace="fragments/navbar::nav"></header>

<main>
        <span class="main-nav">

        </span>
    <div class="main-container">
        <h2>NO PAIN NO GAIN</h2>
        <p>Nice-looking body and powerful organism are interconnected and we can help you with both.</p>
        <a class="button" href="/register">GET STARTED</a>
    </div>
</main>

<div class="welcome">
    <h3>Welcome</h3>
    <div class="divider"></div>
    <div class="welcome-sections">
        <section class="tools">
            <img src="/images/multiple-users-silhouette.png" alt="asdas">
            <h6>Qualified Coaches</h6>
            <p>Our coaches have years of experience in various types of fitness and sports.</p>
        </section>

        <section class="tools">
            <img src="/images/thumbs-up-hand-symbol.png" alt="asdasd">
            <h6>Individual Approach</h6>
            <p>Every client of GYM has a personalized program of training and nutrition.</p>
        </section>

        <section class="tools">
            <img src="/images/dumbbell.png" alt="">
            <h6>Fitness Equipment</h6>
            <p>We cooperate with leading fitness equipment suppliers to give you the superior results.</p>
        </section>
    </div>
</div>



<footer>
    <p>All rights reserved. In Partnership with SoftUni.</p>
</footer>
</body>
</html>