<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Site</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<head th:replace="fragments/navbar::head"></head>

<header th:replace="fragments/navbar::nav"></header>

<main>
        <span class="main-nav">

        </span>
    <div class="main-container">
        <h2 th:text="#{index_main}">NO PAIN NO GAIN</h2>
        <p th:text="#{index_first_paragraph}">Nice-looking body and powerful organism are interconnected and we can help you with both.</p>
        <a class="button" href="/register" th:text="#{index_get_started}">GET STARTED</a>
    </div>
</main>

<footer th:replace="fragments/navbar::footer"></footer>
</body>
</html>