<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar::head">
    <title>Coaches Showcase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header th:replace="fragments/navbar::nav"></header>
<main>
    <div class="container mt-4">
        <h1 class="text-center mb-4 text-white">Supplements</h1>
        <div class="row">
            <div th:each="supplement : ${supplements}" class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <img th:src="${supplement.photoUrl}"  class="card-img-top" alt="Supplement Photo">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${supplement.name}">supplement Name</h5>
                        <p class="card-text" th:text="${supplement.description}">Description</p>
                        <p class="card-subtitle mb-2 text-muted" th:text="${supplement.caloriesPerServing}">Calories Per Serving</p>


                        <form th:method="get" th:action="@{/supplement/details/{id}(id=${supplement.id})}">
                            <button type="submit" class="btn btn-danger">Details</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="pagination mt-4">
            <ul class="pagination">
                <li class="page-item" th:classappend="${supplements.number == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/supplements(page=${supplements.number - 1})}">&laquo; Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, supplements.totalPages - 1)}" th:classappend="${i == supplements.number} ? 'active'">
                    <a class="page-link" th:href="@{/supplements(page=${i})}" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="${supplements.number + 1 == supplements.totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/supplements(page=${supplements.number + 1})}">Next &raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer th:replace="fragments/navbar::footer"></footer>
</body>
</html>
